<div id="how-it-works">
    <div class="container">
        <div class="grid-container">
            <div class="content">
                <h2 class="line-height-small font-bold section-title">
                    {{ heading }}
                </h2>
                <div class="steps flex-container">
                    {% for step in steps %}
                        <div class="flex-container step">
                            <div class="index">0{{ loop.index }}</div>
                            <p class="copy">
                                <span class="label font-bold">{{ step.label }}</span>
                                {{ step.copy }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <p class="footnote font-bold relative-parent">
                    {{ footnote }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="134" height="152" viewBox="0 0 134 152" fill="none">
                        <path d="M128.362 46.7446C129.095 47.1305 130.002 46.849 130.388 46.1159C130.774 45.3829 130.492 44.4758 129.759 44.0899L129.061 45.4173L128.362 46.7446ZM63.3767 90.473L64.1108 91.7811L64.1111 91.7809L63.3767 90.473ZM56.3659 44.8821L56.0457 46.3475L56.0459 46.3476L56.3659 44.8821ZM20.4695 124.611C20.8217 125.361 21.7151 125.683 22.4649 125.331C23.2148 124.978 23.5371 124.085 23.1849 123.335L21.8272 123.973L20.4695 124.611ZM127.762 35.2146C127.482 34.435 126.623 34.0302 125.843 34.3104C125.064 34.5907 124.659 35.4498 124.939 36.2294L126.351 35.722L127.762 35.2146ZM129.979 45.8171L130.715 47.1241C131.353 46.765 131.639 45.9983 131.391 45.3097L129.979 45.8171ZM119.7 50.1429C119.023 50.6205 118.861 51.5564 119.339 52.2333C119.816 52.9102 120.752 53.0719 121.429 52.5943L120.564 51.3686L119.7 50.1429ZM129.061 45.4173C129.759 44.0899 129.759 44.0896 129.758 44.0892C129.757 44.089 129.756 44.0885 129.755 44.088C129.754 44.087 129.751 44.0856 129.748 44.0839C129.741 44.0806 129.732 44.0758 129.72 44.0697C129.697 44.0574 129.663 44.0398 129.619 44.0171C129.53 43.9716 129.4 43.9056 129.231 43.8212C128.893 43.6525 128.398 43.4102 127.762 43.1115C126.49 42.5141 124.65 41.6902 122.368 40.7768C117.807 38.9515 111.455 36.76 104.308 35.308C90.0897 32.4194 72.3002 32.3814 59.4185 44.5892L60.4503 45.6779L61.4821 46.7667C73.2771 35.5888 89.7927 35.4204 103.711 38.2479C110.632 39.654 116.805 41.7821 121.253 43.562C123.475 44.4511 125.26 45.2512 126.487 45.8271C127.1 46.115 127.573 46.3467 127.891 46.5053C128.05 46.5846 128.17 46.6456 128.249 46.6862C128.288 46.7065 128.318 46.7217 128.337 46.7315C128.346 46.7364 128.353 46.74 128.357 46.7422C128.359 46.7433 128.361 46.744 128.362 46.7444C128.362 46.7447 128.362 46.7447 128.362 46.7448C128.362 46.7447 128.362 46.7446 129.061 45.4173ZM60.4503 45.6779L59.4185 44.5892C46.7271 56.6166 44.1238 70.1071 46.5203 79.8321C47.7104 84.6612 50.1571 88.6285 53.294 90.9286C56.484 93.2677 60.4024 93.8623 64.1108 91.7811L63.3767 90.473L62.6426 89.1649C60.1071 90.5879 57.4531 90.2583 55.068 88.5093C52.6296 86.7214 50.4984 83.4367 49.4332 79.1143C47.3193 70.5362 49.4967 58.125 61.4821 46.7667L60.4503 45.6779ZM63.3767 90.473L64.1111 91.7809C67.6223 89.8092 70.4066 86.0826 72.2623 81.7052C74.1284 77.3033 75.1237 72.0906 74.9409 66.9363C74.5751 56.6199 69.4188 46.1967 56.6859 43.4166L56.3659 44.8821L56.0459 46.3476C67.0175 48.7431 71.6084 57.6101 71.9428 67.0426C72.1102 71.7628 71.1938 76.5393 69.5003 80.5343C67.7963 84.5537 65.373 87.6316 62.6422 89.1651L63.3767 90.473ZM56.3659 44.8821L56.6861 43.4167C50.1814 41.9955 43.5764 44.3258 37.7153 48.9082C31.8496 53.4944 26.5874 60.4329 22.6399 68.5902C14.757 84.8797 11.9327 106.435 20.4695 124.611L21.8272 123.973L23.1849 123.335C15.1359 106.198 17.7319 85.6192 25.3403 69.897C29.1384 62.0486 34.1396 55.512 39.5631 51.2716C44.9913 47.0276 50.7013 45.1799 56.0457 46.3475L56.3659 44.8821ZM126.351 35.722L124.939 36.2294L128.568 46.3245L129.979 45.8171L131.391 45.3097L127.762 35.2146L126.351 35.722ZM129.979 45.8171C129.243 44.5101 129.243 44.5101 129.243 44.5101C129.243 44.5102 129.243 44.5102 129.243 44.5103C129.243 44.5105 129.242 44.5107 129.242 44.5109C129.241 44.5115 129.239 44.5123 129.238 44.5134C129.234 44.5155 129.228 44.5186 129.221 44.5228C129.206 44.5311 129.184 44.5434 129.156 44.5594C129.099 44.5916 129.015 44.6387 128.908 44.6992C128.695 44.8201 128.388 44.994 128.014 45.2066C127.266 45.6315 126.25 46.2114 125.179 46.8304C123.071 48.0478 120.645 49.4758 119.7 50.1429L120.564 51.3686L121.429 52.5943C122.236 52.0249 124.517 50.6772 126.679 49.428C127.743 48.8136 128.752 48.2374 129.496 47.8147C129.868 47.6034 130.173 47.4306 130.385 47.3106C130.491 47.2507 130.574 47.2039 130.63 47.1723C130.658 47.1564 130.68 47.1443 130.694 47.1362C130.701 47.1322 130.707 47.1291 130.71 47.1271C130.712 47.1261 130.713 47.1253 130.714 47.1248C130.715 47.1246 130.715 47.1244 130.715 47.1243C130.715 47.1242 130.715 47.1242 130.715 47.1241C130.715 47.1241 130.715 47.1241 129.979 45.8171Z" fill="#1A4224"/>
                    </svg>
                </p>
            </div>
            <div class="form">
                <h3 class="form-title font-bold">{{ form_title }}</h3>
                {{ function('do_shortcode', '[formidable key=contact-form]') }}
            </div>
        </div>
    </div>
</div>
