<footer itemscope itemtype="https://schema.org/WPFooter">
    <div class="address-section">
        <div class="container flex-container">
            <div class="content">
                <p class="font-bold site-name">{{ site.name }}</p>
                <p class="phone-number">
                    <a href="tel:+1{{ phone_number }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_44_3551)">
                                <path d="M13.5253 4.30599C13.5508 4.21081 13.5947 4.12158 13.6547 4.04339C13.7147 3.9652 13.7894 3.8996 13.8748 3.85032C13.9601 3.80104 14.0543 3.76906 14.152 3.7562C14.2496 3.74334 14.3489 3.74985 14.4441 3.77537C15.8344 4.13813 17.103 4.86497 18.119 5.88103C19.1351 6.89708 19.8619 8.16562 20.2247 9.55599C20.2502 9.65116 20.2567 9.75042 20.2439 9.84811C20.231 9.94579 20.199 10.04 20.1497 10.1253C20.1005 10.2106 20.0349 10.2854 19.9567 10.3454C19.8785 10.4053 19.7893 10.4493 19.6941 10.4747C19.6307 10.4914 19.5655 10.4999 19.5 10.5001C19.3349 10.5001 19.1743 10.4456 19.0433 10.3451C18.9122 10.2446 18.8181 10.1036 18.7753 9.94412C18.4796 8.80893 17.8865 7.77316 17.0571 6.9436C16.2277 6.11403 15.192 5.52069 14.0569 5.22474C13.9616 5.19938 13.8723 5.15549 13.794 5.09558C13.7157 5.03566 13.65 4.9609 13.6006 4.87557C13.5513 4.79024 13.5192 4.69601 13.5063 4.59828C13.4934 4.50054 13.4998 4.40122 13.5253 4.30599ZM13.3069 8.22474C14.5997 8.56974 15.4303 9.4013 15.7753 10.6941C15.8181 10.8536 15.9122 10.9946 16.0433 11.0951C16.1743 11.1956 16.3349 11.2501 16.5 11.2501C16.5655 11.2499 16.6307 11.2414 16.6941 11.2247C16.7893 11.1993 16.8785 11.1553 16.9567 11.0954C17.0349 11.0354 17.1005 10.9606 17.1497 10.8753C17.199 10.79 17.231 10.6958 17.2439 10.5981C17.2567 10.5004 17.2502 10.4012 17.2247 10.306C16.7447 8.50974 15.4903 7.25537 13.6941 6.77537C13.5019 6.72402 13.2971 6.75113 13.1249 6.85073C12.9527 6.95033 12.8271 7.11426 12.7758 7.30646C12.7244 7.49866 12.7516 7.70338 12.8512 7.87559C12.9508 8.04781 13.1147 8.1734 13.3069 8.22474ZM20.0972 15.6057L15.6806 13.6266L15.6684 13.621C15.4392 13.5229 15.189 13.4836 14.9407 13.5065C14.6924 13.5294 14.4537 13.6139 14.2463 13.7522C14.2218 13.7684 14.1984 13.7859 14.1759 13.8047L11.8941 15.7501C10.4484 15.0479 8.95595 13.5666 8.25376 12.1397L10.2019 9.82318C10.2206 9.79974 10.2384 9.7763 10.2553 9.75099C10.3907 9.54409 10.4729 9.30692 10.4945 9.06059C10.5161 8.81427 10.4764 8.56642 10.3791 8.33912V8.32787L8.39438 3.9038C8.2657 3.60687 8.04444 3.35951 7.76362 3.19865C7.4828 3.0378 7.1575 2.97208 6.83626 3.0113C5.56592 3.17847 4.39986 3.80234 3.55588 4.76639C2.7119 5.73045 2.24771 6.96876 2.25001 8.25005C2.25001 15.6938 8.30626 21.7501 15.75 21.7501C17.0313 21.7523 18.2696 21.2882 19.2337 20.4442C20.1977 19.6002 20.8216 18.4341 20.9888 17.1638C21.0281 16.8427 20.9625 16.5174 20.8018 16.2366C20.6411 15.9558 20.394 15.7345 20.0972 15.6057Z" fill="#1A4224"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_44_3551">
                                    <rect width="24" height="24" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        {{ formatted_phone_number }}
                    </a>
                </p>
                <p class="address">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_44_3544)">
                            <path d="M12 1.5C9.81273 1.50248 7.71575 2.37247 6.16911 3.91911C4.62247 5.46575 3.75248 7.56273 3.75 9.75C3.75 16.8094 11.25 22.1409 11.5697 22.3641C11.6958 22.4524 11.846 22.4998 12 22.4998C12.154 22.4998 12.3042 22.4524 12.4303 22.3641C12.75 22.1409 20.25 16.8094 20.25 9.75C20.2475 7.56273 19.3775 5.46575 17.8309 3.91911C16.2843 2.37247 14.1873 1.50248 12 1.5ZM12 6.75C12.5933 6.75 13.1734 6.92595 13.6667 7.25559C14.1601 7.58524 14.5446 8.05377 14.7716 8.60195C14.9987 9.15013 15.0581 9.75333 14.9424 10.3353C14.8266 10.9172 14.5409 11.4518 14.1213 11.8713C13.7018 12.2909 13.1672 12.5766 12.5853 12.6924C12.0033 12.8081 11.4001 12.7487 10.8519 12.5216C10.3038 12.2946 9.83524 11.9101 9.50559 11.4167C9.17595 10.9234 9 10.3433 9 9.75C9 8.95435 9.31607 8.19129 9.87868 7.62868C10.4413 7.06607 11.2044 6.75 12 6.75Z" fill="#1A4224"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_44_3544">
                                <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    {{ address }}
                </p>
            </div>
            <img src="{{ theme.link }}/assets/img/favicon.png" alt="Costa Verde Logo">
        </div>
    </div>
    <div class="copyright-section">
        <div class="container flex-container">
            <p class="copyright">Copyright &copy; {{ "now"|date("Y") }} Costa Verde Contracting | All Rights Reserved</p>
            {% for child in child_pages %}
                <a href="{{ function('get_permalink', child.ID) }}">{{ child.post_title }}</a>
            {% endfor %}
        </div>
    </div>
</footer>
